@media(min-width:320px) and (max-width:575px){

    .title p{
        padding: 0;
        padding: 20px 9px;
    }
   /* ========== header start============ */
    header{
        padding-top: 13px;
        padding-bottom: 25px ;
    }
    
    header p{
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }
    header .reg{
        text-align: center ;
        padding-top: 10px ;
    }
    /* ========== header end============ */


    /* ========== nav start============ */
    nav{
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }
    nav button i{
        color: #2d3e50;
        margin-top: 10px;
    }
    nav ul {
        background: #2d3e50;
        padding: 20px 0;
        margin-top: 10px;
    }
    nav ul li{
        text-align: center;
        padding: 0;
    }
    nav ul li a{
        color: #fff;
    }
    nav .button{
        background: #2d3e50;
        padding-bottom: 20px;
        text-align: center;
    }
    nav .button a{
        margin-top: 0;
        margin-left: 0;
        padding: 8px 15px;
        font-size: 18px;
        transition: .6s;
    }
    nav .button a:hover{
        background: #fff;
        color: #fbaa33;
    }
    /* ========== nav end============ */


    /* ========== banner start============ */
     
    #banner-part .banner .overlay{
        padding-top: 40px;
        padding-bottom: 80px;
    }
    #banner-part .banner .overlay h2{
        font-size: 30px;
    }
    #banner-part .banner .overlay h3{
        font-size: 40px;
    }
    #banner-part .banner .overlay p{
        width: 100%;
        padding-bottom: 30px;
    }
    #banner-part .banner .overlay a{
        padding: 8px 17px;
        font-size: 16px;
        margin-right: 10px;
    }
    #banner-part .slick-dots {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0; 
    }
    #banner-part .slick-dots li{
        display: inline-block;
    }
    #banner-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin: 0 8px;
    }
    #banner-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }

    /* ========== banner end============ */


    /* ========== banner-bottom start============ */

    #banner-bottom{
        margin-bottom: 40px;
    }
    #banner-bottom .item{
        transform: none;
        margin-bottom: 5px;
    }
    
    /* ========== banner-bottom end============ */


    /* ========== about-part start============ */
    #about-part{
        padding-bottom: 40px;
        overflow-x: hidden;
    }
    #about-part .slick-dots li{
        margin: -5px 8px;
    }
    #about-part .text-part {
        padding-top: 30px;
    }
    #about-part .text-part a{
        margin-top: 5px;
        padding: 8px 14px;
        font-size: 16px;
        margin-right: 10px;
    }
    /* ========== about-part end============ */


    /* ========== counter-part start============ */
    #counter-part .item h2{
        font-size: 38px;
        padding-bottom: 0;
    }
    #counter-part .item p{
        font-size: 23px;
        padding-bottom: 7px;
    }
    #counter-part .item img{
        padding-bottom: 25px;
    }
    /* ========== counter-part end============ */


    /* ========== course-part start============ */
    #course-part{
        margin-top: 60px;
        margin-bottom: 80px;
    }
    #course-part .item{
        margin-top: 30px;
    }
    #course-part .item .introduction{
        padding-left: 0;
    }
    #course-part .slick-dots {
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0; 
    }
    #course-part .item .introduction .name p{
        font-size: 12px;
    }
    #course-part .item .introduction .name h2{
        font-size: 11px;
    }
    #course-part .item .introduction .rating ul li{
        font-size: 10px;
    }
    #course-part .item .details h3{
        font-size: 19px;
    }
    #course-part .item .introduction .rating p{
        font-size: 12px;
    }
    #course-part .slick-dots li{
        display: inline-block;
    }
    #course-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 5px;
    }
    #course-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    /* ========== course-part end============ */


    /* ========== event-part start============ */
    #event-part .calender img{
        padding: 0 12px;
        margin-bottom: 30px;
    }
    #event-part .item{
        display: inline-block;
        margin: 20px 10px;
        padding: 0;
        padding-bottom: 15px;
    }
    #event-part .item .img{
        padding: 25px;
        
    }
    #event-part .item .text h2{
        padding: 0;
        font-size: 20px;
    }
    #event-part .item .text p{
        width: 100%;
        padding: 10px 0;
        margin: 0;
        font-size: 13px;
    }
    #event-part .item .text .room .icon {
        margin-left: -13px;
    }
    #event-part .item .text .room p i {
        font-size: 11px;
    }
    #event-part .item .img .overlay {
        width: 19%;
        height: 17%;
        bottom: 26px;
        right: 25px;
    } 
    #event-part .item .text {
        padding: 10px 25px;
        padding-left: 25px;
        box-sizing: border-box;
        padding-left: 34px;
    }   


    /* ========== event-part end============ */


    /* ========== testimonial-part start============ */
    #testimonial-part{
        overflow-x: hidden;
    }
    #testimonial-part .title p{
        margin-bottom: 40px;
    }
    #testimonial-part img {
        width: 77%;
        margin: 0 auto;   
    }
    #testimonial-part .test_slider::after{
        right: -25%;
    }
    #testimonial-part .test_slider::before{
        left: 45%;
    }
    #testimonial-part .details-slider{
        padding: 30px 0;
        margin-bottom: 50px;
    }
    #testimonial-part .details p{
        padding-left: 28px;
    }
    #testimonial-part .details h2{
        padding-left: 28px;
        font-size: 17px;
    }
    #testimonial-part .details ul{
        padding-left: 28px;
    }
    

    #testimonial-part .details-slider .slick-dots {
        position: absolute;
        bottom: -4%;
        left: 10%;
        transform: translateX(-50%);
        padding: 0; 
        
    }
    #testimonial-part .details-slider .slick-dots li{
        display: inline-block;
    }
    #testimonial-part .details-slider .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 5px;
    }
    #testimonial-part .details-slider .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    #testimonial-part .accordion-item h2 {
        font-size: 17px;
    }
    #testimonial-part .accordion-body p {
        font-size: 15px;
    }
    /* ========== testimonial-part end============ */


    /* ========== #teacher-part start============ */
    #teacher-part .teacher-slider{
        margin: 20px 0;
    }
    #teacher-part .item .img img {
        width: 95%;
        margin: 0px auto;
    }
    #teacher-part .slick-dots {
        position: absolute;
        bottom: -14%;
        left: 49%;
        transform: translateX(-50%);
        padding: 0; 
        
    }
    #teacher-part .slick-dots li{
        display: inline-block;
    }
    #teacher-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 3px;
    }
    #teacher-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    /* ========== #teacher-part end============ */


    /* ========== #blog-part start============ */
    #blog-header{
        margin-top: 20px;
    }
    #blog-part {
        transform: translateY(-5%);
    }
    #blog-part .big .img{
        margin-bottom: 20px;
    }
    #blog-part .big .img .overlay .icon ul {
        margin-top: 15px;
        margin-right: 12px;
    }
    #blog-part .big .img .overlay .icon ul li {
        width: 30px;
        height: 30px;
        font-size: 15px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 10px;
    }
    #blog-part .big .img .overlay .text h2 a {
        font-size: 15px;
        padding: 0 32px;
    }
    #blog-part .big .img .overlay .text h3 a{
        padding-bottom: 2px;
        font-size: 14px;
    }
    #blog-part .big .img .overlay .text-footer {
        display: none;
    }
    #blog-part .small .img{
        margin-bottom: 20px;
    }
    #blog-part .small .img .overlay .text h2{
        padding-top: 65px;
    }
    #blog-part .big .img .overlay .text h3 a{
        display: none;
    }
    /* ========== #blog-part end============ */


    /* ========== #contact-part start============ */
    #contact-part{
        margin-top: -75px;
    }
    #contact-part .logo img{
        padding-left: 10px;
    }
    #contact-part .left p{
        padding-left: 10px;
        padding-right: 5px;
    }
    #contact-part .left ul{
        margin-left: 10px;
    }
    #contact-part .left ul li a {
        width: 35px;
        height: 35px;
        line-height: 34px;
        font-size: 17px;
        margin-top: 27px;
    }
    #contact-part .center h2{
        margin-left: 5px;
        margin-bottom: -10px;
    }
    #contact-part .center ul{
        padding-left: 10px;
    }
    #contact-part .center ul li {
        padding-left: 8px;
        padding-bottom: 17px;
        font-size: 14px;
    }
    #contact-part .center .teacher {
        padding-left: 30px;
    }
    #contact-part .right{
        padding-right: 20px;
    }
    #contact-part .right a{
        background: none;
        color: #fff;
    }
    #contact-part .right .location a{
        margin-top: 10px;
    }
    #contact-part .right h2{
        padding-top: 10px;
        padding-bottom: 33px;
    }
    #contact-part .right p{
        padding-bottom: 30px;
    }
    #contact-part .right a{
        margin: 0;
        margin-left: 20px;
    }
    #contact-part .right h3{
        padding-bottom: 5px;
    }
    #contact-part .right a:hover {
        background: none;
        color: #fbaa33;
    }
    /* ========== #contact-part end============ */


    /* ========== #footer-img start============ */
    footer p{
        font-size: 12px;
    }
    /* ========== #footer-img end============ */
    

    
}
@media(min-width:576px) and (max-width:767px){

    .title p{
        padding: 0;
        padding: 20px 9px;
    }
   /* ========== header start============ */
    header{
        padding-top: 13px;
        padding-bottom: 25px ;
    }
    
    header p{
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }
    header .reg{
        text-align: center ;
        padding-top: 10px ;
    }
    /* ========== header end============ */


    /* ========== nav start============ */
    nav{
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }
    nav button i{
        color: #2d3e50;
        margin-top: 10px;
    }
    nav ul {
        background: #2d3e50;
        padding: 20px 0;
        margin-top: 10px;
    }
    nav ul li{
        text-align: center;
        padding: 0;
    }
    nav ul li a{
        color: #fff;
    }
    nav .button{
        background: #2d3e50;
        padding-bottom: 20px;
        text-align: center;
    }
    nav .button a{
        margin-top: 0;
        margin-left: 0;
        padding: 8px 15px;
        font-size: 18px;
        transition: .6s;
    }
    nav .button a:hover{
        background: #fff;
        color: #fbaa33;
    }
    /* ========== nav end============ */


    /* ========== banner start============ */
     
    #banner-part .banner .overlay{
        padding-top: 40px;
        padding-bottom: 80px;
    }
    #banner-part .banner .overlay h2{
        font-size: 30px;
    }
    #banner-part .banner .overlay h3{
        font-size: 40px;
    }
    #banner-part .banner .overlay p{
        width: 100%;
        padding-bottom: 30px;
    }
    #banner-part .banner .overlay a{
        padding: 8px 17px;
        font-size: 16px;
        margin-right: 10px;
    }
    #banner-part .slick-dots {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0; 
    }
    #banner-part .slick-dots li{
        display: inline-block;
    }
    #banner-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin: 0 8px;
    }
    #banner-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }

    /* ========== banner end============ */


    /* ========== banner-bottom start============ */

    #banner-bottom{
        margin-bottom: 40px;
    }
    #banner-bottom .item{
        transform: none;
        margin-bottom: 5px;
    }
    
    /* ========== banner-bottom end============ */


    /* ========== about-part start============ */
    #about-part{
        padding-bottom: 40px;
        overflow-x: hidden;
    }
    #about-part .slick-dots li{
        margin: -5px 8px;
    }
    #about-part .text-part {
        padding-top: 30px;
    }
    #about-part .text-part a{
        margin-top: 5px;
        padding: 8px 14px;
        font-size: 16px;
        margin-right: 10px;
    }
    /* ========== about-part end============ */


    /* ========== counter-part start============ */
    #counter-part .item h2{
        font-size: 38px;
        padding-bottom: 0;
    }
    #counter-part .item p{
        font-size: 23px;
        padding-bottom: 7px;
    }
    #counter-part .item img{
        padding-bottom: 25px;
    }
    /* ========== counter-part end============ */


    /* ========== course-part start============ */
    #course-part{
        margin-top: 60px;
        margin-bottom: 80px;
    }
    #course-part .item{
        margin-top: 30px;
    }
    #course-part .slick-dots {
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0; 
    }
    #course-part .slick-dots li{
        display: inline-block;
    }
    #course-part .item .introduction .name{
        padding-left: 20px;
    }
    #course-part .item .introduction .name p{
        font-size: 18px;
        padding-top: 2px;
    }
    #course-part .item .introduction .name h2{
        font-size: 19px;
    }
    #course-part .item .introduction .rating ul li{
        font-size: 16px;
    }
    #course-part .item .introduction .rating p{
        font-size: 16px;
    }
    #course-part .item .details h3{
        font-size: 28px;
        padding-bottom: 19px;
        padding-top: 29px;
    }
    #course-part .item .details p{
        font-size: 18px;
    }
    #course-part .item .duration p{
        font-size: 18px;
    }
    #course-part .item .duration h5{
        font-size: 18px;
    }
    #course-part .item .button a {
        font-size: 21px;
        padding: 14px 20px;
    }
    #course-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 5px;
    }
    #course-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    /* ========== course-part end============ */


    /* ========== event-part start============ */
    #event-part{
        padding-bottom: 40px;
    }
    #event-part .calender img{
        padding: 0 12px;
        margin-bottom: 30px;
    }
    #event-part .item{
        margin: 40px 0;
        padding: 0;
        display: flex;
    }
    #event-part .item .img{
        padding: 25px;
        
    }
    #event-part .item .text h2{
        font-size: 21px;
    }
    #event-part .item .img .overlay p{
        font-size: 15px;
    }
    #event-part .item .img .overlay {
        width: 19%;
        height: 17%;
        bottom: 26px;
        right: 25px;
    } 

    /* ========== event-part end============ */


    /* ========== testimonial-part start============ */
    #testimonial-part{
        overflow-x: hidden;
    }
    #testimonial-part .title p{
        margin-bottom: 40px;
    }
    #testimonial-part img {
        width: 77%;
        margin: 0 auto;   
    }
    #testimonial-part .test_slider::after{
        right: -25%;
    }
    #testimonial-part .test_slider::before{
        left: 45%;
    }
    #testimonial-part .details-slider{
        padding: 30px 0;
        margin-bottom: 50px;
    }
    #testimonial-part .details p{
        padding-left: 40px;
    }
    #testimonial-part .details h2{
        padding-left: 40px;
    }
    #testimonial-part .details ul{
        padding-left: 40px;
    }
    

    #testimonial-part .details-slider .slick-dots {
        position: absolute;
        bottom: -4%;
        left: 10%;
        transform: translateX(-50%);
        padding: 0; 
        
    }
    #testimonial-part .details-slider .slick-dots li{
        display: inline-block;
    }
    #testimonial-part .details-slider .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 5px;
    }
    #testimonial-part .details-slider .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    /* ========== testimonial-part end============ */


    /* ========== #teacher-part start============ */
    #teacher-part .teacher-slider{
        margin: 20px 0;
    }
    #teacher-part .item .img img {
        width: 95%;
        margin: 0px auto;
    }
    #teacher-part .slick-dots {
        position: absolute;
        bottom: -14%;
        left: 49%;
        transform: translateX(-50%);
        padding: 0; 
        
    }
    #teacher-part .slick-dots li{
        display: inline-block;
    }
    #teacher-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 3px;
    }
    #teacher-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    /* ========== #teacher-part end============ */


    /* ========== #blog-part start============ */
    #blog-header{
        margin-top: 20px;
    }
    #blog-part {
        transform: translateY(-3%);
    }
    #blog-part .big .img{
        margin-bottom: 20px;
    }
    #blog-part .big .img .overlay .text h2 a{
        padding-top: 20px;
    }
    #blog-part .small .img{
        margin-bottom: 20px;
    }
    #blog-part .small .img .overlay .text h2{
        font-size: 22px;
        padding-top: 140px;
    }
    #blog-part .small .img .overlay .text h3 a{
        font-size: 16px;
        padding-top: 10px;
    }
    #blog-part .small .img .overlay .icon ul li {
        width: 45px;
        height: 45px;
        font-size: 22px;
        text-align: center;
        line-height: 45px;
        margin-bottom: 19px;
    }
    #blog-part .small .img .overlay .icon ul {
        margin-top: 56px;
        margin-right: 20px;
    }
    /* ========== #blog-part end============ */


    /* ========== #contact-part start============ */
    #contact-part{
        margin-top: -75px;
    }
    #contact-part .logo img{
        padding-left: 10px;
    }
    #contact-part .left p{
        padding-left: 10px;
        padding-right: 5px;
        font-size: 17px;
    }
    #contact-part .left ul{
        margin-left: 10px;
    }
    #contact-part .center h2{
        margin-left: 5px;
        margin-bottom: -10px;
        font-size: 25px;
    }
    #contact-part .center ul li {
        padding-left: 18px;
        padding-bottom: 22px;
        font-size: 19px;
    }
    #contact-part .center .teacher {
        padding-left: 100px;
    }
    #contact-part .right{
        padding-right: 20px;
    }
    
    #contact-part .right h2{
        padding-top: 10px;
        padding-bottom: 33px;
        font-size: 25px;

    }
    #contact-part .right p{
        padding-bottom: 40px;
        font-size: 17px;
    }
    #contact-part .right a{
        margin: 0;
        margin-left: 20px;
        margin-top: 2px;
    }
    #contact-part .right h3{
        font-size: 18px;
        padding-bottom: 5px;
    }
    /* ========== #contact-part end============ */


    /* ========== #footer-img start============ */
    
    /* ========== #footer-img end============ */
    

    
}
@media(min-width:768px) and (max-width:991px){

    .title p{
            padding: 0;
            padding-bottom: 50px;
            padding-top: 22px;
            width: 90%;
            margin: 0 auto;
    }
   /* ========== header start============ */
    header p{
        margin-right: 9px;
    }
    /* ========== header end============ */


    /* ========== nav start============ */
    nav{
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }
    nav button i{
        color: #2d3e50;
        margin-top: 10px;
    }
    nav ul {
        background: #2d3e50;
        padding: 20px 0;
        margin-top: 10px;
    }
    nav ul li{
        text-align: center;
        padding: 0;
    }
    nav ul li a{
        color: #fff;
    }
    nav .button{
        background: #2d3e50;
        padding-bottom: 20px;
        text-align: center;
    }
    nav .button a{
        margin-top: 0;
        margin-left: 0;
        padding: 8px 15px;
        font-size: 18px;
        transition: .6s;
    }
    nav .button a:hover{
        background: #fff;
        color: #fbaa33;
    }
    /* ========== nav end============ */


    /* ========== banner start============ */
     
    #banner-part .banner .overlay{
        padding-top: 50px;
        padding-bottom: 90px;
    }
    #banner-part .banner .overlay h2{
        font-size: 35px;
    }
    #banner-part .banner .overlay h3{
        font-size: 45px;
    }
    #banner-part .banner .overlay p{
        width: auto;
        padding-bottom: 36px;
        font-size: 15px;
    }
    #banner-part .banner .overlay a{
        padding: 10px 19px;
        font-size: 18px;
        margin-right: 14px;
    }
    #banner-part .slick-dots {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0; 
    }
    #banner-part .slick-dots li{
        display: inline-block;
    }
    #banner-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin: 0 8px;
    }
    #banner-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }

    /* ========== banner end============ */


    /* ========== banner-bottom start============ */

    #banner-bottom{
        margin-bottom: 40px;
    }
    #banner-bottom .item{
        transform: none;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #banner-bottom .item p{
        font-size: 20px;
    }
    
    /* ========== banner-bottom end============ */


    /* ========== about-part start============ */
    #about-part{
        padding-bottom: 40px;
        overflow-x: hidden;
    }
    #about-part .slick-dots li{
        margin: -5px 8px;
    }
    #about-part .text-part{
        padding-top: 0;
    }
    #about-part .text-part a{
        margin-top: 5px;
        padding: 10px 16px;
        font-size: 22px;
        margin-right: 14px;
    }
    #about-part .text-part p {
        font-size: 16px;
        padding-bottom: 22px;
    }
    /* ========== about-part end============ */


    /* ========== counter-part start============ */
    #counter-part .item h2{
        font-size: 38px;
        padding-bottom: 0;
    }
    #counter-part .item p{
        font-size: 23px;
        padding-bottom: 7px;
    }
    #counter-part .item img{
        padding-bottom: 25px;
    }
    /* ========== counter-part end============ */


    /* ========== course-part start============ */
    #course-part{
        margin-top: 60px;
        margin-bottom: 80px;
    }
    #course-part .item{
        margin-top: 30px;
        margin-bottom: 80px;
    }
    #course-part .item .introduction .name h2{
        font-size: 14px;
    }
    #course-part .prev{
        top: 100%;
        left: 40%;
    }
    #course-part .next{
        top: 100%;
        right: 40%;
    }
    #course-part .item .img .overlay{
        transition: .6s;
    }
    #course-part .item:hover .img .overlay{
        opacity: 1;
    }
    
    
    #course-part .item:hover .button a{
        transition: .6s;
    }
    #course-part .item .details h3{
        transition: .6s;
    }
    #course-part .item:hover .details h3{
        color: #fbaa33;
    }
    #course-part .item:hover .button a{
        background: #fbaa33;
    }
    /* ========== course-part end============ */


    /* ========== event-part start============ */
    #event-part .calender img{
        padding: 0 12px;
        margin-bottom: 30px;
    }
    #event-part .item{
        display: inline;
        margin: 0;
        padding: 0;
        margin: 0 10px;
        padding-bottom: 20px;
    }
    #event-part .item-part{
        display: flex;
    }
    #event-part .item .img .overlay {
        width: 19%;
        height: 17%;
        bottom: 26px;
        right: 25px;
    } 
    #event-part .item .text {
        padding: 10px 25px;
        padding-left: 25px;
        box-sizing: border-box;
        padding-left: 34px;
    }   
    #event-part .item .text h2{
        padding: 0;
    }

    /* ========== event-part end============ */


    /* ========== testimonial-part start============ */
    #testimonial-part{
        overflow-x: hidden;
    }
    #testimonial-part .title p{
        margin-bottom: 40px;
    }
    #testimonial-part img {
        width: 77%;
        margin: 0 auto;   
    }
    #testimonial-part .test_slider::after{
        right: -25%;
    }
    #testimonial-part .test_slider::before{
        left: 45%;
    }
    #testimonial-part .details-slider{
        margin-bottom: 50px;
    }
    #testimonial-part .details p{
        padding-left: 40px;
    }
    #testimonial-part .details h2{
        padding-left: 40px;
    }
    #testimonial-part .details ul{
        padding-left: 40px;
    }
    #testimonial-part .details p{
        padding-top: 0;
    }

    #testimonial-part .details-slider .slick-dots {
        position: absolute;
        bottom: -4%;
        left: 10%;
        transform: translateX(-50%);
        padding: 0; 
        
    }
    #testimonial-part .details-slider .slick-dots li{
        display: inline-block;
    }
    #testimonial-part .details-slider .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 5px;
    }
    #testimonial-part .details-slider .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    #contact-part .right a{
        background: none;
        color: #fff;
        font-size: 27px;
    }
    #contact-part .right a:hover{
        color: #fbaa33;
        background: none;
    }
    #testimonial-part .prev{
        left: 2%;
    }
    #testimonial-part .next{
        left: 2%;
    }
    /* ========== testimonial-part end============ */


    /* ========== #teacher-part start============ */
    #teacher-part .teacher-slider{
        margin: 20px 0;
    }
    #teacher-part .item .img img {
        width: 95%;
        margin: 0px auto;
    }
    #teacher-part .slick-dots {
        position: absolute;
        bottom: -14%;
        left: 49%;
        transform: translateX(-50%);
        padding: 0; 
        
    }
    #teacher-part .slick-dots li{
        display: inline-block;
    }
    #teacher-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 3px;
    }
    #teacher-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    /* ========== #teacher-part end============ */


    /* ========== #blog-part start============ */
    #blog-header{
        margin-top: 20px;
    }
    #blog-part {
        transform: translateY(-11%);
    }
    #blog-part .big .img{
        margin-bottom: 20px;
    }
    #blog-part .big .text{
        display: none;
    }
    #blog-part .big .text-footer{
        display: none;
    }
    #blog-part .small .text{
        display: none;
    }
    #blog-part .small .text-footer{
        display: none;
    }
    #blog-part .big .img .overlay .text h2 a{
        padding-top: 20px;
    }
    #blog-part .small .img{
        margin-bottom: 20px;
    }
    #blog-part .small .img .overlay .text h2{
        font-size: 22px;
        padding-top: 140px;
    }
    #blog-part .small .img .overlay .text h3 a{
        font-size: 16px;
        padding-top: 10px;
    }
    #blog-part .small .img .overlay .icon ul li {
        width: 45px;
        height: 45px;
        font-size: 22px;
        text-align: center;
        line-height: 45px;
        margin-bottom: 19px;
    }
    #blog-part .small .img .overlay .icon ul {
        margin-top: 56px;
        margin-right: 20px;
        
    }
    /* ========== #blog-part end============ */


    /* ========== #contact-part start============ */
    #contact-part{
        margin-top: -75px;
    }
    #contact-part .logo img{
        padding-left: 10px;
    }
    #contact-part .left p{
        width: auto;
        padding-left: 10px;
        padding-right: 5px;
        font-size: 18px;
    }
    #contact-part .left ul{
        margin-left: 10px;
    }
    #contact-part .center h2{
        margin-left: 5px;
        margin-bottom: -10px;
        font-size: 22px;
    }
    #contact-part .center ul li {
        padding-left: 18px;
        padding-bottom: 22px;
        font-size: 18px;
    }
    #contact-part .center .teacher {
        padding-left: 15px;
    }
    #contact-part .right{
        padding-right: 20px;
    }
    #contact-part .right .location a{
        margin-top: 14px;
    }
    #contact-part .right h2{
        padding-top: 30px;
        padding-bottom: 33px;
        font-size: 22px;
    }
    #contact-part .right p{
        padding-bottom: 30px;
        font-size: 15px;
    }
    #contact-part .right a{
        margin: 0;
        margin-left: 20px;
        margin-top: 6px;
    }
    #contact-part .right h3{
        padding-bottom: 5px;
        font-size: 18px;
    }
    /* ========== #contact-part end============ */


    /* ========== #footer-img start============ */
    
    /* ========== #footer-img end============ */
    

    
}
@media(min-width:992px) and (max-width:1199px){

    .title p{
        padding: 0;
        padding: 20px 120px;
    }
   /* ========== header start============ */
    header p{
        margin-right: 9px;
    }
    /* ========== header end============ */


    /* ========== nav start============ */
    nav ul li{
        font-size: 17px;
        padding-right: 0;
    }
    /* ========== nav end============ */


    /* ========== banner start============ */
     
    #banner-part .banner .overlay{
        padding-top: 40px;
        padding-bottom: 120px;
    }
    #banner-part .banner .overlay h2{
        font-size: 32px;
    }
    #banner-part .banner .overlay h3{
        font-size: 42px;
    }
    #banner-part .banner .overlay p{
        width: 55%;
        padding-bottom: 30px;
        font-size: 15px;
    }
    #banner-part .banner .overlay a{
        padding: 10px 19px;
        font-size: 18px;
        margin-right: 10px;
    }
    #banner-part .slick-dots {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0; 
    }
    #banner-part .slick-dots li{
        display: inline-block;
    }
    #banner-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin: 0 8px;
    }
    #banner-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }

    /* ========== banner end============ */


    /* ========== banner-bottom start============ */

    #banner-bottom{
        margin-bottom: 40px;
        transform: translateY(-19%);
    }
    #banner-bottom .item{
        transform: none;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #banner-bottom .item p{
        font-size: 20px;
    }
    
    /* ========== banner-bottom end============ */


    /* ========== about-part start============ */
    #about-part{
        padding-bottom: 40px;
    }
    #about-part .slick-dots li{
        margin: -5px 8px;
    }
    #about-part .text-part {
        padding-top: 30px;
    }
    #about-part .text-part a{
        margin-top: 5px;
        padding: 8px 14px;
        font-size: 16px;
        margin-right: 10px;
    }
    /* ========== about-part end============ */


    /* ========== counter-part start============ */
    #counter-part .item h2{
        font-size: 38px;
        padding-bottom: 0;
    }
    #counter-part .item p{
        font-size: 23px;
        padding-bottom: 7px;
    }
    #counter-part .item img{
        padding-bottom: 25px;
    }
    /* ========== counter-part end============ */


    /* ========== course-part start============ */
    #course-part{
        margin-top: 60px;
        margin-bottom: 80px;
    }
    #course-part .item{
        margin-top: 30px;
        margin-bottom: 80px;
    }
    #course-part .item .introduction .name p{
        font-size: 12px;
    }
    #course-part .item .introduction .rating ul{
        margin-left: 0;
    }
    #course-part .item .introduction .rating ul li{
        font-size: 10px;
    }
    #course-part .item .introduction .rating p{
        font-size: 11px;
    }
    #course-part .item .introduction{
        padding-left: 0;
    }
    #course-part .item .introduction .name h2{
        font-size: 12px;
    }
    #course-part .prev{
        top: 100%;
        left: 40%;
    }
    #course-part .next{
        top: 100%;
        right: 40%;
    }
    #course-part .item .img .overlay{
        transition: .6s;
    }
    #course-part .item:hover .img .overlay{
        opacity: 1;
    }
    #course-part .item:hover .button a{
        transition: .6s;
    }
    #course-part .item .details h3{
        transition: .6s;
    }
    #course-part .item:hover .details h3{
        color: #fbaa33;
    }
    #course-part .item:hover .button a{
        background: #fbaa33;
    }
    /* ========== course-part end============ */


    /* ========== event-part start============ */
    #event-part{
        padding-bottom: 30px;
    }
    #event-part .calender img{
        padding: 0 12px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #event-part .button{
        margin-bottom: 12px;
    }   
    #event-part .item .text h2{

        font-size: 20px;
    }
    #event-part .item .text p{
        width: 97%;
    }
    #event-part .item-part{
        margin-top: 25px;
        margin-left: 15px;
    } 



    /* ========== event-part end============ */


    /* ========== testimonial-part start============ */
    #testimonial-part .title p{
        margin-bottom: 40px;
    }
    #testimonial-part img {
        width: 77%;
        margin: 0 auto;   
    }
    #testimonial-part .test_slider{
        margin-top: 20px;
    }
    #testimonial-part .test_slider::after{
        right: -25%;
    }
    #testimonial-part .test_slider::before{
        left: 45%;
    }
    #testimonial-part .details-slider{
        padding: 0;
        margin-bottom: 0;
    }
    #testimonial-part .details p{
        padding-left: 40px;
    }
    #testimonial-part .details h2{
        padding-left: 40px;
    }
    #testimonial-part .details ul{
        padding-left: 40px;
    }
    

    #testimonial-part .details-slider .slick-dots {
        position: absolute;
        bottom: -4%;
        left: 10%;
        transform: translateX(-50%);
        padding: 0; 
        
    }
    #testimonial-part .details-slider .slick-dots li{
        display: inline-block;
    }
    #testimonial-part .details-slider .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 5px;
    }
    #testimonial-part .details-slider .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    #testimonial-part .accordion-item h2{
        font-size: 17px;
    }
    #testimonial-part .prev{
        width: 30px;
        height: 30px;
        line-height: 27px;
        font-size: 18px;
        top: 135%;
        left:32%;
    }
    #testimonial-part .next{
        width: 30px;
        height: 30px;
        line-height: 27px;
        font-size: 18px;
        bottom: -61%;
        left: 48%;
    }
    /* ========== testimonial-part end============ */


    /* ========== #teacher-part start============ */
    #teacher-part .teacher-slider{
        margin: 20px 0;
    }
    #teacher-part .item .img img {
        width: 95%;
        margin: 0px auto;
    }
    #teacher-part .slick-dots {
        position: absolute;
        bottom: -14%;
        left: 49%;
        transform: translateX(-50%);
        padding: 0; 
        
    }
    #teacher-part .slick-dots li{
        display: inline-block;
    }
    #teacher-part .slick-dots li button{
        font-size: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #8a8988;
        background: transparent;
        
        border-radius: 50%;
        margin:0 3px;
    }
    #teacher-part .slick-dots .slick-active button{
        background: #fbaa33;
        border-color: #fbaa33;
    }
    /* ========== #teacher-part end============ */


    /* ========== #blog-part start============ */
    
    #blog-part .big .img .overlay .icon ul{
        margin-top: 15px;
    }
    #blog-part .big .img .overlay .text h2 a{
        font-size: 17px;
        padding-top: 20px;
    }
    #blog-part .big .img .overlay .text-footer a{
        font-size: 11px;
    }
    #blog-part .small .img .overlay .icon ul {
        margin-top: 10px;
    }
    #blog-part .small .img .overlay .text h2{
        font-size: 14px;
        padding-top: 10px;
    }
    /* ========== #blog-part end============ */


    /* ========== #contact-part start============ */
    #contact-part{
        margin-top: -75px;
    }
    #contact-part .logo img{
        padding-left: 10px;
    }
    #contact-part .left p{
        padding-left: 10px;
        padding-right: 5px;
    }
    #contact-part .left ul{
        margin-left: 10px;
    }
    #contact-part .center h2{
        margin-left: 5px;
        margin-bottom: -10px;
    }
    #contact-part .center ul li {
        padding-left: 17px;
        padding-bottom: 30px;
        font-size: 16px;
    }
    #contact-part .center .teacher {
        padding-left: 15px;
    }
    #contact-part .right{
        padding-right: 20px;
    }
    #contact-part .right .location a{
        margin-top: 10px;
    }
    #contact-part .right a{
        margin-top: 10px;
        background: none;
        color: #fff;
        font-size: 27px;
    }
    #contact-part .right a:hover{
        background: none;
        color: #fbaa33;
    }
    #contact-part .right h2{
        padding-top: 30px;
        padding-bottom: 33px;
    }
    #contact-part .right p{
        padding-bottom: 30px;
    }
    #contact-part .right a{
        margin: 0;
        margin-left: 20px;
    }
    #contact-part .right h3{
        padding-bottom: 5px;
    }
    /* ========== #contact-part end============ */


    /* ========== #footer-img start============ */
    
    /* ========== #footer-img end============ */
    

    
}